<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="template='home'"
      layout:decorator="base/base">
<head>
    <meta charset="UTF-8">
    <title>ampersand</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<span layout:fragment="title">ampersand</span>

<div layout:fragment="content">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Assignments made easy.</h1>
                    <p>Ampersand takes the work out of assigning work. Just create an assignment, fill in a name and
                        description, and you're done. It's that simple. And Google Drive integration makes the process
                        of submitting work foolproof and seamless.</p>
                    <p><a class="btn btn-primary btn-lg" href="/a/new" role="button">Create an assignment!</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>What is it?</h2>
                <p>Ampersand allows teachers to assign work to students. Each student chooses a file from Google Drive
                    to share as their response, and then they're able to see all the work submitted by others. All you
                    need is a Google account, and it's completely free for basic use &mdash; forever.</p>

                <h2>Can I use it?</h2>
                <p>Yes! It was created for <a href="http://www.afe.santacruz.k12.ca.us/">AFE</a> in Santa Cruz,
                    California, but anyone can use it for any (legal) purpose. If you encounter any issues, or just want
                    to talk, don't hesitate to <a href="mailto:im@abe.im">contact the author</a>!</p>

                <h2>How?</h2>
                <p><a href="/a/new">Click here</a> to create a new assignment. Fill in a name and description (HTML
                    allowed), and then give the link to anyone you want responses from. Your assignment will never
                    expire.</p>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script">
</script>

</body>
</html>
