<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="template='home'"
      layout:decorator="base/base">
<head>
    <meta charset="UTF-8">
    <title>ampersand</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<span layout:fragment="title">ampersand</span>

<div layout:fragment="content">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Assignments made easy.</h1>
                    <p>Ampersand takes the work out of assigning work. Just create an assignment, fill in a name and
                        description, and you're done. It's that simple. And Google Drive integration makes the process
                        of submitting work foolproof and seamless.</p>
                    <p><a class="btn btn-primary btn-lg" href="/a/new" role="button">Create an assignment!</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                <h3>Ampersand is open source!</h3>
                <p>Want to contribute or keep up to date with development?
                    <a href="https://github.com/Aiybe/ampersand">Check ampersand out on GitHub!</a></p>
                <iframe src="https://ghbtns.com/github-btn.html?user=Aiybe&repo=ampersand&type=star&count=true&size=small"
                        frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script">
</script>

</body>
</html>
